.card{
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
    height: 290px;
    text-align: center;
}

.img-pokemon {
    width: 180px;
    height: 230px;
}