.nav {


   &>ul {
      display: flex;
      justify-content: center;
      gap: 20px;

      &>li {
         list-style: none;
         background-color: white;
         border-radius: 5px;

         &>.link {
            color: black;
            padding: 5px;
         }
      }

      &>li:hover {
         background-color: yellow;

         &>.link {
            color: blue;
         }
      }
   }







}